<html>
  <body>
    <form action="." method="POST">
    	<h1> Basement Lights </h1>
    	
    	<br>
    	<input type="submit" name="button" value="Off">
      	<input type="submit" name="button" value="On">
      	</br>
      	
      	<br>
    	<input type="text" name="bri">
      	<input type="submit" name="button" value="Brightness">
      	<input type="submit" name="button" value="Max">
      	</br>
      	
      	<br>
    	<input type="text" name="col">
      	<input type="submit" name="button" value="Colour">
      	<input type="submit" name="button" value="White">
      	<input type="submit" name="button" value="Yellow">
      	<input type="submit" name="button" value="Blue">
      	<input type="submit" name="button" value="Red">
      	</br>
      	
      	<br>
      	<input type="submit" name="button" value="Colour Loop">
      	<input type="submit" name="button" value="Flash">
      	<input type="submit" name="button" value="Stop">
      	</br>
      	
    </form>
  </body>
</html>
