<!– CS 411 Group 4 –>

<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
	    <script type="text/javascript" src="{{ url_for('static', filename='alerts.js') }}"></script>
	    <script type="text/javascript" src="{{ url_for('static', filename='autohide.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='templated-interphase/css/style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='templated-interphase/css/style-xlarge.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='templated-interphase/css/navbar.css') }}" />
		<meta charset="UTF-8">
		<title>Alerts</title>
	</head>

	
	<body>

		<ul id="topbar">
			<li><a href="/home">Home</a></li>
			<li class='selected'><a href="/addrules">Alerts</a></li>
			<li><a href="/music">Music</a></li>
			<li><a href="/setup">Setup</a></li>
		</ul>

		<form action="/addrules" method="POST">
		<div class="leftinfoA">
			<h1> Weather Alerts </h1>
			<div id="weatherform">
			<br>
			<input type="radio" name="alert_type" id="sunid" value="sun"> Sunrise/Sunset
			<input type="radio" name="alert_type" id="tempid" value="temp"> Temperature
			</br>
			
			<div id="sunif">
			<br>
			At
			<select name="sundrop" id="sundrop">
				<option value="1">Sunrise</option>
				<option value="-1">Sunset</option>
			</select>
			</div>
			<div id="boxa1">
			<div id="sundo">
			Do 
			<select name="suneffect" id="suneffect">
				<option value="flash">Flash</option>
				<option value="loop">Color Loop</option>
				<option value="on">Color</option>
			</select>
			</div>
			<div id="suncol">Color: <input type="text" id='suncolor' name="suncolor"></div>
			<div id="sunfor">
			For
			<select name="sunduration" id="sunduration">
				<option value="5">5 Seconds</option>
				<option value="10">10 Seconds</option>
				<option value="30">30 Seconds</option>
				<option value="60">1 Minute</option>
				<option value="300">5 Minutes</option>
				<option value="-1">Indefinitely</option>
			</select>
			</br>
			</div>
			<div id="sunalert">For 15 Seconds</div>
			<div id="suntest"><input type="button" value="Test"></div>
			</div>
			<p></p>
			<div id="sunsub"><input type="submit"></div>
			
			
			<div id="tempif">
			<br>
			If temperature goes
			<select name="tempdrop" id="tempdrop">
				<option value="1">above</option>
				<option value="-1">below</option>
			</select>
			<input type="text" id="tempval" name="tempval"> ℉,
			</div>
			<div id="boxa2">
			<div id="tempdo">
			Do 
			<select name="tempeffect" id="tempeffect">
				<option value="flash">Flash</option>
				<option value="loop">Color Loop</option>
				<option value="on">Color</option>
			</select>
			</div>
	   <!-- <div id="suncol">Color: <input type="text" id='suncolor' name="suncolor"></div> -->
			<div id="tempcol">Color: <input type="text" id='tempcolor' name="tempcolor"></div>
			<div id="tempfor">
			For
			<select name="tempduration" id="tempduration">
				<option value="5">5 Seconds</option>
				<option value="10">10 Seconds</option>
				<option value="30">30 Seconds</option>
				<option value="60">1 Minute</option>
				<option value="300">5 Minutes</option>
				<option value="-1">Indefinitely</option>
			</select>
			</br>
			</div>
			<div id="tempalert">For 15 Seconds</div>
			<div id="temptest"><input type="button" value="Test"></div>
			</div>
			<p></p>
			<div id="tempsub"><input type="submit"></div>
		</div>	
		</div>
		<div class="rightinfoA">
			{% if alerts %}
				Current Rules:	
				<table border='1'>
					<th> User </th>
					<th> Alert Type </th>
					<th> Temp (F)</th>
					<th> Lighting Effect </th>
					<th> Lighting Color </th>
					<th> Light Length </th>
					<th> Delete Alert </th>
					{% for alert in alerts %} 
					{#alert=[email,alert type, +/- 1, temp, effect, color, length] #}
						<tr>
							<td> {{alert[0]}} </td>
							{% if alert[1] == 'temp' %}
								{% if alert[2] == 1 %}
									<td> Above Temp </td>
								{% else %}
									<td> Below Temp </td>
								{% endif %}
								<td> {{alert[3]}} </td>
							{% else %}
								{% if alert[2] == 1 %}
									<td> Sunrise </td>
								{% else %}
									<td> Sunset </td>
								{% endif %}
								<td> -- </td>
							{% endif %}
							<td> {{alert[4]}} </td>
							<td> {{alert[5]}} </td>
							<td> {{alert[6]}} </td>
							<td> <form method='POST' action='/deletealert'> <input type='hidden' name='alert_id' value='{{alert[7]}}'> <input type="submit" value='Delete'></form></td>
						</tr>
					{% endfor %}

				</table>
			{% else %}
				You currently have no rules.
			{% endif %}

			<img class="image fit" src="{{ url_for('static', filename='templated-interphase/images/weather.jpg')}}" alt="" />

		</div>
	</form>
	</body>
</html>