<html>
	<head>
		<script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='autohide.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='templated-interphase/css/style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='templated-interphase/css/style-xlarge.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='templated-interphase/css/stylelight.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='templated-interphase/css/navbar.css') }}" />
		<meta charset="UTF-8">
		<title>Music</title>
	</head>

	<ul id="topbar">
		<li><a href="/home">Home</a></li>
		<li><a href="/addrules">Alerts</a></li>
		<li class='selected'><a href="/music">Music</a></li>
		<li><a href="/setup">Setup</a></li>
	</ul>
	</head>
	<body>

	<form method='POST' action='/listmusic'>
		<label for='artists'>Search for an Artist:</label>
		<input name='artist' type='text'>
		<input type='submit' value='Search'>
	</form>



	<a href='/logout'>logout</a><br>
	<a href='/home'>home</a><br>

	</body>
</html>